body{
	font-size:13px;
	font-family: 'Heebo', sans-serif;
	background-color:#fff;
	background-image:linear-gradient(-90deg, #cbffe2, #ffffff, #cbffe2);
      overflow-x: hidden;
}
html, body {
    	height: 100%;
		margin: 0px;

	}
	.custom {
		height: 100%;
		background: rgba(0,0,0,0.9);
        margin-bottom: 30px;
	}

html {
  scroll-behavior: smooth;
}  

.navbar-nav li:hover > ul.dropdown-menu {display: block;}
.dropdown-submenu {position:relative;}
.dropdown-submenu>.dropdown-menu {top:0;left:15rem;margin-top:-9px;}
.dropdown-menu > li > a:hover:after {text-decoration: underline;transform: rotate(-90deg);}
	
.dropdown-menu-right{right:auto;}
.dropdown-menu{background-color:rgba(0,88,37);border:none;margin-top:-2px;}
.dropdown-item{color:#e3e3e3 !important;font-size:12px;padding:0.25rem 0.7rem;}	
.dropdown-item:hover{background-color:rgba(255,255,255,.9);color:#000 !important;}	
.green-text-color{color:#266c44;}	
#navbar {z-index:1001;}
.sticky {position:fixed !important;top:0;width: 100%;background:#fff;-webkit-transition: width 5s; /* For Safari 3.1 to 6.0 */
  transition: width 5s;box-shadow:0px 2px 5px #3c8c5e;}
.sticky ul li .nav-link{color:#000 !important;}
.navbar-dark .navbar-nav .nav-link{color:#000;padding:.5rem .7rem;text-transform: uppercase;font-weight:bold;    letter-spacing: 0.2px;}
.navbar{padding:0.5rem 2rem;}
a:hover{text-decoration:none;}
.banner-count-slider .carousel-item h2{font-size:5em !important;color:#5fc58b;}
.banner-count-slider .carousel-item p{font-size:1.5em !important;color:#e2e2e2;}
.banner-count-slider .carousel-indicators .active{background-color:#5fc58b;}

.other-inner-menu{background:#fff;box-shadow:0px 2px 5px #3c8c5e;}

.counter {
      background-color: #ffffffd1;
    padding: 20px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    padding-top: 24px;
  
}
.counter i{
      color: #5f5f5f;
}
.count-title {
    font-size:30px;
    font-weight: normal;
    margin-top:5px;
    margin-bottom: 0;
    text-align: center;
	
}

.count-text {
    font-size: 12px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0;
    text-align: center;
}



.countermainarea{
    /*   border: thin solid #e8e8e8;*/
    border-right: 0px;
    padding: 10px 25px;
    
}
.countermainarea p{
  margin-bottom: 0px;
}
.countermainarea h2{
  margin-top: 10px;

}

.main-menu{
      position: fixed !important;
    top: 0;
    width: 100%;
    background: #fff;
    -webkit-transition: width 5s;
    transition: width 5s;
    box-shadow: 0px 2px 5px #3c8c5e;
}


#background {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;}

/* main content home */
.main-content-home{
	background-color:transparent;
	padding:70px 0px;
	background-color:#fff;
	background-image:linear-gradient(-90deg, #ecfff4, #ffffff, #ecfff4);
	}
.main-content-home h2{
	margin-bottom: 45px;
	text-transform: uppercase;
	}	
.main-content-home h2:after {
    background-color: #9d9d9d;
}
.main-content-home h2:after {
    position: relative;
    content: '';
    bottom: -15px;
    height: 1px;
    margin: 0 auto;
    display: block;
}
.main-content-home .main-p{text-align:center;}	
.main-content-home .main-box-section .box{
	padding-top:20px;
	display: -webkit-flex; /* Safari */
    display: flex;
}
.main-content-home .main-box-section .box .box-icon{
	float: left;
    display: block;
    padding-bottom: 100px;
    padding-top: 3px;
    padding-right: 10px;
	color:#266c44;
	font-size:18px;
}
.main-content-home .main-box-section .box h4{
	text-transform:uppercase;
}	
.main-content-home .main-box-section .box p{
	font-size:13px;
}
.main-content-home .main-box-section .box a{	
    color:#266c44;
}
/* end main content home */

/* ceo message */
.message-home{
	margin-top: 15px;
	height:770px;
	/*background:#fff url('../img/building_img.jpg') no-repeat;*/
	background-size:cover;
	background-position: center;
}
.message-home .second-bg{
	height:610px;
	/*background:transparent url('../img/black_transparent_img.png') no-repeat;*/
	background-image: linear-gradient(-90deg, #c7c7c700, #f9f6f6, #c7c7c700);
    background-size: cover;
    background-position: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border: solid 2px #f2f2f2;
    border-radius: 30px;
    margin: 0 100px;
    color: #ffffff;
}
.message-home .second-bg img{height: 150px;
    border-radius: 5px;}
.message-home .second-bg h2{
	padding-top:15px;
	color:#5fc58b;
	
}
.message-home .second-bg p{
	margin-top:30px;
	margin-bottom:20px;
	color:#353535;
}
.message-home .second-bg a{
	color:#fff;
	text-transform: uppercase;
}
/* end ceo message */

/* our project home */
.our-projects-home{
	padding-top:70px !important;
	padding-bottom:70px!important;
	}
.our-projects-home h2{
	text-align:center;
	margin-bottom: 45px;
	text-transform: uppercase;
	color:#266c44;
	}	
.our-projects-home h2:after {
    background-color: #9d9d9d;
}
.our-projects-home h2:after {
    position: relative;
    content: '';
    bottom: -25px;
    width: 30px;
    height: 1px;
    margin: 0 auto;
    display: block;
}
.our-projects-home .main-p{text-align:center;padding-bottom:50px;}
.our-projects-home a{
	font-size:24px;
	display:inline-block;
	color:#7a7a7a;
	padding-top:10px;
	padding-bottom:5px;
}
	}	
.our-projects-home .our-dot:after {
    background-color: #9d9d9d;
}
.our-projects-home .our-dot:after {
    position: relative;
    content: '';
    bottom: -25px;
    width: 30px;
    height: 1px;
    margin: 0 auto;
    display: block;
}
/* end our project home */

/* filter gallery home */
.filter-gallery-home{
	padding-top:80px;
	padding-bottom:50px;
	}
.filter-gallery-home h2{
	text-align:center;
	margin-bottom: 45px;
	text-transform: uppercase;
	text-align:center;
	color:#266c44;
	}	
.filter-gallery-home h2:after {
    background-color: #9d9d9d;
}
.filter-gallery-home h2:after {
    position: relative;
    content: '';
    bottom: -25px;
    width: 30px;
    height: 1px;
    margin: 0 auto;
    display: block;
}
.our-projects-home .main-p{
	text-align:center;
	}
.filter-gallery-home h3{background:#266c44;font-size:14px;padding:12px 10px;line-height:20px;color:#fff;font-weight:Regular;}
.filter-gallery-home .modal-header{display:block;}	
.filter-gallery-home .modal-header i{margin-right:5px;color:#266c44;}	
.filter-gallery-home .modal-header h4{color:#266c44;}	
.filter-gallery-home .project-details{display:-webkit-flex;display:flex;}	
.filter-gallery-home .project-details div:first-child{font-weight:bold;white-space: nowrap;}
.filter-gallery-home .modal-body img{float:right;height:100px;border:1px #ddd solid;margin-left:10px;}	
.filter-button:focus{display:none;}
.filter-button
{
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    text-align: center;
    color: #000;
    margin-bottom: 10px;

}
.filter-button:hover
{
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #266c44;

}
.gallery_product
{
    margin-bottom: 30px;
}
.project-container {
  position: relative;
  width: 100%;
}

.project-image {
  display: block;
  width: 100%;
  height: auto;
}

.project-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(38,108,68,.8);
}

.project-container:hover .project-overlay {
  opacity: 1;
}

.project-text {
  color: #c6f1d8;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width:90%;
}
.project-text a{color:#fff;clear:both;padding-top:15px;display:block;}
/* end filter gallery home */

/* our sustainability */
.our-sustainability-home{
	padding-top:80px;
	padding-bottom:50px;
	padding-bottom:70px !important;
	}
.our-sustainability-home h2{
	text-align:center;
	margin-bottom: 45px;
	text-transform: uppercase;
	text-align:center;
	color:#266c44;
	}	
.our-sustainability-home h2:after {
    background-color: #9d9d9d;
}
.our-sustainability-home h2:after {
    position: relative;
    content: '';
    bottom: -25px;
    width: 30px;
    height: 1px;
    margin: 0 auto;
    display: block;
}
.our-sustainability-home .main-p{
	text-align:center;
	text-align:center;
	}
.our-sustainability-home .carousel-inner img{border:1px #b1dcc4 solid;}
.our-sustainability-home .carousel-inner h5{padding-top:10px;padding-bottom:5px;}
.our-sustainability-home .carousel-inner p{text-align:justify;}
.our-sustainability-home .carousel-inner a{
    background: #404040;
    width: 100%;
    display: block;
    padding: 5px;
    color: #fff;
    text-align: center;
}
.our-sustainability-home .carousel-indicators li{background:#266c44;}
/* end our sustainability */

/* contact home */
.contact-home{
	padding:0;
  height: 540px;
}
.contact-home .inner-bg{
	padding-top:40px;
	padding-bottom:30px;
	background: #fff;
	background-position: 50% -56px;
  height: 540px;
}

.contact-home form .cus-input{
	 width: 100%;
    height: 42px;
    background: transparent;
    border: 1px #e8e8e8 solid;
    padding: 3px 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: #f5f5f5;
    font-size: 12px;
}
.contact-home form .cus-textarea{
	width: 100%;
    background: transparent;
    border: 1px #e8e8e8 solid;
    padding: 6px 15px;
	margin-bottom:20px;
  border-radius: 4px;
  color: #f5f5f5;
    font-size: 12px;

}
.contact-home form .cus-cancel{
	background:transparent;
	padding: 11px 50px;
	outline: none;
    border: none;
	color:#b3b3b3;
}
.contact-home form .cus-submit{
	background: #797979;
	padding: 11px 50px;
	outline: none;
  border: none;
	color:#fff;
  border-radius: 4px;
}
.contact-information div{padding-top:10px;padding-bottom:10px;}
.contact-information div p{color:#999;}
.contact-information div h4{   
    margin-bottom: 0;
    color: #737373;
    font-size: 16px;}
.contact-information i{
  float: left;
  padding-top: 3px;
  padding-bottom: 40px;
  padding-right: 12px;
  color: #808080;
  font-size: 11px;
}



.contact-information h3{
  font-size: 18px;
}

.home-formbb{
  padding-left: 58px;
}

.home-formbb label {
  display: flex;
  margin-bottom: 0px;
}


/* end contact home */

/* footer */	
.footer-home{
	padding-top:60px;
	padding-bottom:40px;
	color:#e3e3e3;
  background-color: #fff;
  background-size: cover;
  color: #fff;
  padding: 0;

}

.footer-home .inner-bg {
    padding-top: 40px;
    padding-bottom: 20px;
    background: #ffffff00;
    background-position: 50% -56px;
}
.footer-home h4{    
  padding-bottom: 3px;
  color: #000;
  font-size: 16px;
}
.footer-home ul{padding:0;}
.footer-home ul li{list-style:none;     
  list-style: none;
  border-bottom: thin #fbfbfb solid;
  padding: 7px 0px; 
  padding:7px 0px;
  }
.footer-home ul li i{padding-right:5px;font-size:11px;}
.footer-home ul li a{    color: #191919;     font-size: 12px;}
/* end footer */

/* footer bottom*/	
.footer-bottom-home{
	    padding-top: 20px;
    padding-bottom: 20px;
    background: #f3f3f3;
    color: #2f2f2f;
}
.footer-bottom-home i{padding:2px 10px;color:#8a8a8a;}
.footer-bottom-home a i{color:#017935;}
/* end footer bottom*/

.map-home{padding:0;}

.cus-countdown{position:absolute;bottom:30px;width:100%;}
.cus-countdown .inner{font-size:18px;color:#fff;margin:0 auto;width:360px;text-align:center;border-radius:10px;border:1px #fff solid;padding:10px 20px;display:-webkit-flex;display:flex;}
.cus-countdown .inner div{-webkit-flex:1;-ms-flex: 1;flex: 1;}
.cus-countdown .inner div h4{font-family: 'Lato', sans-serif;font-weight:thin;}
.cus-countdown .inner div p{ font-family: 'Lato', sans-serif;}

.all-pages-padding{padding-bottom:40px;
	background-color:#fff;
	background-image:linear-gradient(-90deg, #ecfff4, #ffffff, #ecfff4);}
	
.cus-testimonial h2 {
	color: #333;
	text-align: center;
	text-transform: uppercase;
	font-family: "Roboto", sans-serif;
	font-weight: bold;
	position: relative;
	margin: 30px 0 60px;
}
.cus-testimonial h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #8fbc54;
	left: 0;
	right: 0;
	bottom: -10px;
}
.cus-testimonial .col-center {
	margin: 0 auto;
	float: none !important;
}
.cus-testimonial .carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.cus-testimonial .carousel .item {
	font-size: 14px;
    text-align: center;
	overflow: hidden;
}
.cus-testimonial .carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.cus-testimonial .carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.cus-testimonial .carousel .testimonial {
	padding: 30px 0 10px;
}
.cus-testimonial .carousel .overview {	
	font-style: italic;
}
.cus-testimonial .carousel .overview b {
	text-transform: uppercase;
	color: #7AA641;
}
.cus-testimonial .carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.cus-testimonial .carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.cus-testimonial .carousel .carousel-indicators {
	bottom: -40px;
}
.cus-testimonial .carousel-indicators li, .carousel-indicators li.active {
	/*width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;*/
}
.cus-testimonial .carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.cus-testimonial .carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

.other-service-link h4{color:#005825;font-weight:bold;}
.other-service-link li{line-height:24px;border-bottom:1px #d0f1de solid;color:#005825;}
.other-service-link .inner{border-top:1px #ccc solid;margin-top:10px;padding-top:10px;}


.meet-our-people-question h6{margin-bottom:0;font-weight:bold;color:#005825;}
.meet-out-people .inner{background:#005825;border-radius:5px;color:#fff;}
.meet-out-people .inner a{color:#fff;}
.meet-out-people .inner img{margin-bottom:5px;width:100%;}
.meet-out-people .inner p{padding:10px;}

.cus-our-business a{color:#000;font-weight:bold;color:#005825;text-decoration:underline;}
.cus-our-business .inner{background:#fff;border:1px #e4e4e4 solid;}
.cus-our-business .inner img{width:100%;}
.cus-our-business .inner h5{font-weight:bold;font-size:14px;padding-top:40px;}


/*---rakesh----------*/
.news-content h3 {color: #005825;}
	.news-content h3:hover {color: #012912;}
    ul.pagination a {color: #005825;}
	.page-item.active .page-link {z-index: 1;color: #fff;background-color: #012912;border-color: #007bff;}
	a.btn.btn-default.btn-sm.pull-right {padding: 5px; border: 1px solid #005825;}
	a.btn.btn-default.btn-sm.pull-right:hover { background: #005825; color: #fff;}
	.bg-light {background-color: #f3f3f3;}
	.pt-3, .py-3 {padding-top: 0.3rem !important;}
	.form-control {
    height: 42px;
    border: 1px #e8e8e8 solid;
        color: #828282;
    font-size: 12px;
  }
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #e8e8e8;
    outline: 0;
    box-shadow: 0 0 0 0rem rgba(0,123,255,.25);
}
	.row.align-items-center.justify-content-center {padding: 12px 12px;}
	.card.border-danger.golge .btn-primary {background: #005825;border: #012912;}
    select:focus::-ms-value {
            background-color: gray;
            color: orange;
        }
		




.isteColor{
    color: #005825;
  }
  .isteColor:hover{
    color: #353A40;
  }
/*haber akışı list*/
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #cd2147;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}
/*vertical carousel*/
.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
        transform: translate3d(0,-100%, 0);
}

.border-danger {
    border-color: #012912!important;
}
ul.timeline a{color:#d5b006;}
ul.timeline:before{background:#005825;}
ul.timeline > li:before{border:3px solid #012912;}
.bg-light {background-color: none !important;}

/*------Client Page-----*/
.gmd-5:hover {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.section-gap {
    padding: 70px 0px 0px;
    position: relative;
	overflow:hidden;
}
/* our business (home page) */

/* our business end (home page) */




/*----------------new style--------------------------------------*/

.padd0{
  padding: 0px !important;
}
.f-left{
  float: left;
}

.section-10{
  min-height: 540px;
  padding-top: 40px;
  padding-bottom: 50px;
}
.section-20{
  min-height: 540px;
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #f5f5f5;
}

.aboutus-title {
    font-size: 25px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 25px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
    text-align: left;
}
.aboutus-title::after {
    background: #fdb801 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}

.about-ceo{
      padding-left: 25px;
}
.about-ceo h4{
  font-size: 20px;
  color: #266c44;
  margin-bottom: 18px;
}
.about-ceo h5{
  font-size: 14px;
  /* color: #266c44; */
  color: #4c4c4c;
  line-height: 22px;
  margin-top: 12px;
}
.about-ceo p{
  font-size: 14px;
  color: #4c4c4c;
  line-height: 24px;
}

.sectore-area{
      padding-left: 25px;
}
.sectore-area h4{
  font-size: 20px;
  color: #266c44;
  margin-bottom: 18px;
}
.sectore-area ul{
  list-style: none;
}
.sectore-area li{
  font-size: 14px;
      margin-bottom: 7px;
}
.sectore-area li img{
  width: 16px;
  margin-right: 5px;
}


.major-client{}
.major-client ul{
  padding-left: 0px;
  margin-left: 0px;
}
.major-client li{
  float: left;
    width: 20%;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 50px;
    list-style: none;
    margin-bottom: 0px;
    border: thin solid #f5f5f5;
    padding: 16px 16px;
    text-align: center;
}
.major-client img {
    /* max-width: 100%; */
    padding: 0px 0;
    /*-webkit-filter: grayscale(100%);
    filter: grayscale(100%);*/
    max-width: 100%;
}
/*.major-client li img:hover{
    opacity: 1;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
*/

.business-list{
  border:0px solid #f5f5f5;
}
.business-detail{
  border: 1px solid #ddd;
    background-color: #fff;
  padding: 20px 20px;
}
.business-detail h4{
  font-size: 16px;
   width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.business-detail p{
  font-size: 13px;
  color: #717171;
  line-height: 20px;
}
.business-detail a{
  font-size: 13px;
  color: #01045f;
  line-height: 20px;
}

.busin-img{
  height: 228px;
  overflow: hidden;
}
.busin-img a img{
 transition: transform .5s ease;
}
.busin-img a img:hover{
   transform: scale(1.2);
}


.cus-pre {
    background-color: #ddd;
    padding: 10px;
    left: 0px;
    line-height: 10px;
    font-size: 24px;
    color: #383838;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 8% !important;
    color: #fff;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
}

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #010101;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.height-400{
  min-height: 440px;
}

.stctore-list{
  margin-bottom: 50px;
}
.sectore-list{
  padding-left: 0px;
}
.sectore-list h4{
  font-size: 18px;
}
.sectore-list p{
  font-size: 12px;
}

.sectore-list a{
  font-size: 12px;
  margin-top: 20px;
  color: #01045f; 
}

.sus-leftarea{
  background-color: #266c44;
  padding: 50px 40px;
  color: #fff;
  height: 360px;
}
.sus-leftarea p{
  line-height: 23px;
  font-size: 14px;
  width: 65%;
}
.sus-leftarea a{
  line-height: 23px;
  font-size: 14px;
  color: #ddd;
}
.sus-slide{
  padding-left: 4px;
  position: absolute;
  right: -25px;
  top: 90px;
}

.sus-pre{
  position: absolute;
  top: -40px;
  color: #fff;
  font-size: 25px;
  left: 10px;
}
.sus-next{
  position: absolute;
  top: -40px;
  color: #fff;
  font-size: 25px;
  left: 73px;
}

.opening-list{
  background: #fff;
  padding: 10px 15px;
  border-radius: 2px;
  margin-bottom: 23px;
}

.opening-list h4{
  font-size: 14px;
}
.opening-list h5{
  font-size: 12px;
}
.opening-list p {
  font-size: 12px;
}

.sasslide img{
  width: 100%;
  height: 220px;
}


.sectioncar-30{
  min-height: 540px;
  background-image: url(../image/career-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.career-text{
  background-color: #ddddddd6;
  height: 540px;
  padding: 80px 40px;
}
.career-text h4{
  font-size: 14px;
}
.career-text a{
  color: #01045f;
}
.career-text h3{
  font-size: 24px;
  margin-bottom: 20px;
}
.career-text p{
  font-size: 14px;
    line-height: 22px;
}

.section-project{
  min-height: 550px;
  background-image: url(../image/branding-corner.png);
     background-size: contain;
  background-repeat: no-repeat;
      padding-left: 0px;
    padding-right: 0px;

}

.section-project .inner-bg {
    padding-top: 40px;
    padding-bottom: 50px;
       background: #00000014;
    background-position: 50% -56px;
    height: 550px;
    
}

.project-deatals{

}
.project-deatals h4{
  color: #000;
  font-size: 18px;
}

.project-deatals img{
  margin-bottom: 30px;
}
.project-deatals p{
    font-size: 14px;
    color: #000;
}
.project-deatals h5{
    font-size: 14px;
    color: #000;
    text-align: right;
    display: inline-block;
    margin-left: 50px;
    text-align: right;
    position: relative;
    padding-left: 1em;
    z-index: 0;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: transparent;
    float: right;

}
.project-deatals h5::after {
    content: "";
    position: absolute;
    top: 0.65em;
    left: -50px;
    width: 50px;
    height: 2px;
    background-color: rgb(22, 199, 7);
    z-index: -1;
    pointer-events: none;
    transform-origin: left center;
    transform: scale3d(1, 1, 1);
    transition: background-color 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}


.cus-projectlist{
     justify-content: left !important;
    margin-left: 0% !important;
    display: inherit;
    width: 40px;
    bottom: 8%;
}
.cus-projectlist ul{
  display: block;
  
}
.cus-projectlist li{
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #707070;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity 0.6s ease;
}


.proslide-one{}
.proslide-one li{
  background-color: inherit !important;
  color: #000;
  opacity: 10 !important;
  border-top: inherit !important;;
    border-bottom: inherit !important;
}

.project-imgpr{
   height: 236px;
   overflow: hidden;
    margin-bottom: 20px;
}
.project-imgpr img{
  max-width: 100%;
  height: 235px;
}

.leftabout h4{
  font-size: 16px;
  color: #000;
}
.leftabout p{
  font-size: 12px;
  color: #060606;
  line-height: 20px;
}

.Location-home-1{
  min-height: 540px;
  background: #005825 url(../image/map-bg.png) no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
 
}
.Location-home-1 .inner-bg {
  padding-top: 40px;
  padding-bottom: 30px;
     background: #00000000;
  background-position: 50% -56px;
  height: 540px;
}


.head-bbaddress{
   margin-top: 90px;
}
.head-bbaddress h4{
  font-size: 18px;
  font-weight: bold;
  color: #028439;
  margin-bottom: 4px;
}
.head-bbaddress p{
 font-size: 13px;
  font-weight: 300;
  color: #5d5d5d;
}

.mainhh-branch{
   margin-top: 50px;
   margin-bottom: 15px;
}
.mainhh-branch h4{
  font-size: 18px;
  font-weight: bold;
     color: #028439;
  margin-bottom: 4px;
}
.all-bbaddress{
  margin-bottom: 20px;
}
.all-bbaddress h4{
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-bottom: 4px;
}
.all-bbaddress p{
 font-size: 13px;
  font-weight: 300;
  color: #5d5d5d;
  margin-bottom: 5px !important;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: black;
    border: 1px solid white;
    border-radius: .25rem;
}

.lefta-sus{
 
 
}


.lefta-sus img{
  max-width: 100%;
}

.righta-sus{
  position: absolute;
  right: -25px;
  top: 40px;
  background-color: #f5f5f5;
  padding: 50px 40px;
  color: #fff;
  height: 330px;
  width: 100%;

}
.righta-sus p {
  line-height: 23px;
  font-size: 14px;
  color: #000;
}

.righta-sus a {
  line-height: 23px;
  font-size: 14px;
  color: #707070;
}

.contact-detailleft{
  background: #f5f5f5;
  padding: 40px;  
}

.news-updatemain{
  background:rgba(0, 0, 0, .5); 
  height:210px; 
  width:284px; 
  margin-top:10px;
  border-radius:5px;
  float:right;
  padding:20px;
  color:#fff; 
  float: right;
}

.news-updatemain h4{
      font-size: 17px;
    border-bottom: thin #ccc solid;
    padding-bottom: 5px;
}

.news-block h5{
  font-size: 14px;
}

.news-block p{
  font-size: 12px;
}

.newstape {
  height: 130px !important;
  overflow: hidden;
}



.client-review-w{
  background:rgba(0, 0, 0, .5);
  height:210px; 
  width:284px; 
  border-radius:5px;
  padding:20px; 
  color:#fff; 
  margin-top: 20px; 
  float: right;
  overflow: hidden;
}

.client-review-w h4{
      font-size: 17px;
    border-bottom: thin #ccc solid;
    padding-bottom: 5px;
}

.cbp-qtrotator blockquote {
    margin: 23px 0 0 0 !important;
    padding: 0;
}
.maincctext{}
.maincctext p{
  font-size: 12px;
}


.mainbbcount{
      position: absolute;
    width: 100%;
    bottom: 0px;
}

.ceoname{
  text-align: center;
}
.ceoname img{
  border-radius: 4px;
}
.ceoname h4{
  font-size: 20px;
  color: #000;
  margin-top: 10px;
  margin-bottom: 4px;
}
.ceoname h5{
  font-size: 12px;
  color: #999;
}



/*---------multiii-------------------------------------*/

.MultiCarousel {
  float: left;
  overflow: hidden;
  padding: 0px;
  width: 100%;
  position: relative; }

.MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all;
  float: left; }

.MultiCarousel .MultiCarousel-inner .item {
  float: left; }

.MultiCarousel .MultiCarousel-inner .item > div {
      padding: 0px 10px;
    margin: 0px 10px 0px 2px;
  }

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
  position: absolute;
  border-radius: 2px;
  top: calc(50% - 20px); }

.MultiCarousel .leftLst {
  left: 0; }

.MultiCarousel .rightLst {
  right: 0; }

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
  pointer-events: none;
  background: #ccc; }

 .btn-gray2 {
    color: #fff;
    background-color: #ddd;
    border-color: #ddd;
} 


/*------------------------------------------------------*/

.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0);
  transform: translate3d(0,-100%, 0);
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
    height: 8px;
  
}

::-webkit-scrollbar-thumb {
    background-color: #707070;

}






/*---------one page slider-----------------------------*/





/*--------counter-----------------------------*/